* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 34, 34);
    font-family: "JetBrains Mono", monospace;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
}

.grid-container {
    background-color: rgb(131, 114, 20);
    top: 0;
    left: 0;
    width: 100%;
    height: 4.25rem;
}

.nav-link {
    text-decoration: none;
}

.nav-link button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 3rem;
  width: 15vh;
  max-width: 25%;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  font-size: 2.5vh;
  font-weight: bold;
  margin-top: 1vh;
}

.nav-link button:hover {
	transform: translateY(-1px);
    background-color: rgb(179, 170, 170);
    box-shadow: rgba(54, 45, 75, 0.4) 0 2px 4px,rgba(69, 60, 87, 0.3) 0 7px 13px -3px,#98989e 0 -3px 0 inset;
}

.nav-link button:not(:last-child) {
    margin-right: 4%;
}

.search {
    display: flex;
    height: 5rem;
    width: 100%;
    background-color: grey;
    text-align: center;
    justify-content: center;
    gap: 5vh;
    margin-top: 0.2 5rem;
}

.search-description {
    display: block;
    font-weight: bold;
}

.search-input {
    max-width: 25vw;
}

.insertBtn-container {
    background-color: green;
    height: 2rem;
}

#insertBtn {
    height: 2rem;
    width: 4rem;
}

.sort-container {
    display: flex;
    justify-content: flex-end;
    background-color: goldenrod;
    height: 2rem;
    text-align: center;
}

.sort-label {
    display: block;
    text-align: center;
    margin-top: 0.35rem;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    background-color: rgb(168, 131, 9);
    text-align: center;
    justify-content: center;
}

#loading {
    height: 50vh;
    margin: 25vh;
    font-size: 10vh;
}

.edit-container {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: rgb(168, 131, 9);
    padding: 2rem 0;
    font-weight: bold;
    font-size: 2vh;
    margin: 0 auto;
    border: 0.25rem solid rgb(0, 0, 0);
    box-shadow: rgba(236, 214, 13, 0.35) 0px 5px 15px;
}

.edit-form > label {
    width: 5rem;
}

#form-title {
    margin: -1rem 0 1.5rem 0;
    font-size: 5vh;
    font-weight: bold;
    text-transform: uppercase;
}

.edit-input {
    display: block;
    width: 15rem;
    max-width: 50%;
    margin: 0 auto;
}

.edit-btns-container {
    margin-top: 1.5rem;
}

#edit-submitBtn {
    height: 2.5rem;
    width: 8rem;
    margin-right: 2rem;
    background-color: lightgreen;
    cursor: pointer;
}

#edit-cancelBtn {
    height: 2.5rem;
    width: 4rem;
    background-color: red;
    cursor: pointer;
}

.pet-cart {
    width: 100%;
    height: 5vh;
    background-color: darkgreen;
    margin: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.pet-photo {
    width: 80%;
    height: 15vh;
    margin: 1vw;
}

.pet-text {
    max-width: 70%;
    display: flex;
    font-weight: bold;
    font-size: 2.5vh;
}

.btnEdit {
    display: block;
}

.btnDelete {
    display: block;
}

.footer {
    width: 100%;
    height: 3vh;
    background-color: grey;
    padding-bottom: 3rem;
    font-size: 2.75vh;
    font-weight: 800;
    margin-top: 4.5rem;
    padding-top: 0.5rem;
}